@using System.Globalization
@using System.Collections
@using Microsoft.Extensions.Logging
@using Microsoft.Maui.Media
@using Microsoft.Maui.Storage
@using MudBlazor
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Ganss.Xss
@inject ILogger<TierListComp> Logger
@inject IJSRuntime JSRuntime

<div class="maiedal">
	<div class="d-flex col-12 col-md-6 darken-85 bgblur-5 flex-column mx-auto my-auto overflow-visible shadow align-content-center" style="border-radius: 2vw">
		<div class="d-flex p-4 text-end justify-content-end">
			<a class="clickable fs-5" @onclick="Exit">✖</a>
		</div>
		<div class="d-flex flex-column flex-wrap p-md-4 p-1 pt-0">
			<img class="text-center d-flex mx-auto @(selecitem.img is LinkedImage li1 && li1.isLocal ? LinkedImage.SimpliflyLink(li1.link) : "")" src="@selecImage" style="max-height: 40vh; max-width: 40vw; border: 1px solid; border: grey; border-radius: 2vw" />
			<div>
				<p class="text-danger">@itemErrorText</p>
			</div>
			<MudTextField Class="flex-fill center-input thick-outline mx-2" Style="color: white;" @bind-Value="@selecitem.name" TextChanged="@(() => Validate("name"))" Label="Title" Variant="Variant.Outlined"></MudTextField>
			<div class="d-flex flex-nowrap col-12">
				@if (selecitem.img is LinkedImage li)
				{
					<MudTextField Class="center-input thick-outline mx-2" Style="color: white;" @bind-Value="@li.link" TextChanged="@(async () => { selecImage = await GetSelectImage(); Validate("image"); UpdateModifiedDate(); })" Label="Image Link" Variant="Variant.Outlined"></MudTextField>
					@if (!mobile)
					{
						<div class="d-flex flex-nowrap justify-content-center align-items-center me-2">
						<MudTooltip class="col-6 col-md-3" Color="Color.Transparent">
							<ChildContent>
								<MudIcon Icon="@Icons.Material.Filled.Info"/>
							</ChildContent>
							<TooltipContent>
								<div class="text-light darken-95 rounded p-3 m-0 col-12">
									<p>Can be an online URL (http:) or a local address of an image in your computer</p> 
									<p>Use the button on the right to select an image directly </p>
								</div>
							</TooltipContent>
						</MudTooltip>
						</div>

						<div class="d-flex align-content-center align-items-center text-center justify-content-center">
							<button class="btn bg-highlight me-2 py-3" @onclick="() => PickLocalImage(false)"><MudIcon Icon="@Icons.Material.Filled.FolderOpen" Color="Color.Default" Title="Pick Local Image" /></button>
						</div>
					}
				}
				else if (mobile)
				{
					<button class="btn bg-highlight col-8 ms-2 py-3 mt-1 text-light" @onclick="@(() => selecitem.img = new LinkedImage(""))">Change to Linked Image</button>
				}
				@if (mobile)
				{
					<div class="d-flex col-4 align-content-center align-items-center text-center justify-content-center me-2">
						<button class="btn bg-highlight me-2 py-3" @onclick="() => PickLocalImage(false)"><MudIcon Icon="@Icons.Material.Filled.FolderOpen" Color="Color.Default" Title="PickLocal" /></button>
						<button class="btn bg-highlight py-3" @onclick="() => PickLocalImage(true)"><MudIcon Icon="@Icons.Material.Filled.CameraAlt" Color="Color.Default" Title="PickLocalCamera" /></button>
					</div>
				}
			</div>
			<MudTextField Class="flex-fill center-input thick-outline mx-2" Style="color: white;" @bind-Value="@selecitemtags" TextChanged="@(() => { Validate("tags"); UpdateTags(); })" Label="Tags" Variant="Variant.Outlined" HelperText="(Separated by commas)"></MudTextField>
			<MudTextField Class="flex-fill center-input thick-outline mx-2" Style="color: white;" @bind-Value="@selecitem.notes" TextChanged="@UpdateModifiedDate" Label="Notes" Variant="Variant.Outlined" AutoGrow="true" OnBlur="@(() => Validate("notes"))"></MudTextField>
			<div class="d-flex mx-auto flex-fill col-12 mt-1">
				<a class="bg-highlight text-light flex-fill text-center p-2 ms-2 me-1 my-auto rounded clickable" @onclick="() => OnCopy.InvokeAsync(selecitem)"><MudIcon Icon="@Icons.Material.Filled.Upload" Title="Export" />Copy</a>
				<a class="bg-highlight text-light flex-fill text-center p-2 me-2 ms-1 my-auto rounded clickable" @onclick="Pasted"><MudIcon Icon="@Icons.Material.Filled.Download" Title="Import" /> Paste</a>
			</div>
			@if (haspasted)
			{
				<div class="d-flex mx-auto flex-fill col-12 mt-2">
					<a class="bg-highlight text-light flex-fill text-center p-2 mx-2 my-auto rounded clickable" @onclick="() => {OnRollbackPaste.InvokeAsync(); haspasted = false;}"><MudIcon Icon="@Icons.Material.Filled.Undo" Title="Undo Paste" /> Undo Paste</a>
				</div>
			}
			<button class="bg-danger rounded m-2 p-2" @onclick="YouSure">Remove</button>
		</div>
	</div>
</div>
@if (yousure)
{
	<div class="maiedal d-flex flex-column text-center justify-content-center">
		<div class="p-3 darken-85 bgblur-5 d-flex rounded text-center flex-column justify-content-center mx-auto text-light col-10 col-md-5 border-2 shadow border-light">
			<p> Are you sure you want to permanently remove this item? </p>
			<div class="d-flex flex-row flex-wrap mx-auto">
				<button class="mx-2 text-light" @onclick="YouSure">No</button>
				<button class="mx-2 rounded p-2 bg-danger" @onclick="OnDelete">Yes, remove it</button>
			</div>
		</div>
	</div>
}

<style>
	.center-input .mud-input-slot {
		text-align: center;
	}

	.thick-outline .mud-input-outlined-border {
		border-width: 2px!important;
	}
</style>

@code
{
	[Parameter]
	public required TierItem selecitem { get; set; }

	[Parameter]
	public EventCallback OnExit { get; set; }
	[Parameter]
	public EventCallback OnChanged { get; set; }
	[Parameter]
	public EventCallback OnDelete { get; set; }
	[Parameter]
	public EventCallback<string> OnLoadingStart { get; set; }
	[Parameter]
	public EventCallback<string> OnLoaded { get; set; }
	[Parameter]
	public EventCallback<string> OnError { get; set; }
	[Parameter]
	public EventCallback<TierItem> OnCopy { get; set; }
	[Parameter]
	public EventCallback OnPaste { get; set; }
	[Parameter]
	public EventCallback OnRollbackPaste { get; set; }

	// selected item
	string selecitemtags = "";
	string selecImage = "";
	string? _selectbloburl;
	string itemErrorText = "";

	// modal confirm
	bool yousure;

	bool mobile;
	bool haspasted = false;

	// --------- INITIAL LOADING
	protected override async Task OnInitializedAsync()
	{
		mobile = OperatingSystem.IsAndroid() || OperatingSystem.IsIOS();
	}

	protected override async Task OnAfterRenderAsync(bool firstrender)
	{
		if (firstrender)
		{
			await SetLect();
			StateHasChanged();
		}
	}

	async Task SetLect()
	{
		await OnLoadingStart.InvokeAsync("Loading Item...");
		selecitemtags = "";
		if (selecitem.tags != null)
		{
			for (int j = 0; j < selecitem.tags.Length; j++)
				selecitemtags += selecitem.tags[j] + (j != selecitem.tags.Length - 1 ? ", " : "");
		}
		selecImage = await GetSelectImage();
		await OnLoaded.InvokeAsync("Item Loaded!");

	}

	// --------- GENERAL FUNCTIONS
	async Task UpdateModifiedDate()
	{
		await OnChanged.InvokeAsync();
	}

	void YouSure()
	{
		yousure = !yousure;
	}

	void Pasted()
	{
		var clipboard = CopyPasteApi<TierItem>.GetClipboard();
		if (clipboard == null) return;

		OnPaste.InvokeAsync(); haspasted = true;
	}

	// ---------- INPUT VALIDATION AND UPDATE
	void Validate(string field)
	{
		itemErrorText = "";
		Logger.LogInformation("[ItemEdit] Validating " + field);
		switch (field)
		{
			case "name":
				if (selecitem!.name.StartsWith('-'))
				{
					itemErrorText = "The item name cannot start with '-'.";
					selecitem.name = selecitem.name.Replace("-", "");
				}
				else if (selecitem!.name.Contains(','))
				{
					itemErrorText = "The item name cannot contain any commas (',').";
					selecitem.name = selecitem.name.Replace(",", "");
				}
				else if (selecitem!.name.Contains('+'))
				{
					itemErrorText = "The item name cannot contain any '+' symbols.";
					selecitem.name = selecitem.name.Replace("+", "");
				}
				else itemErrorText = "";
				break;
			case "image":
				if (selecitem.img is LinkedImage li)
				{
					li.link = li.link.Trim();
				}
				break;
			case "tags":
				bool cleanup = false;
				foreach (var tag in selecitemtags.Split(','))
				{
					if (selecitemtags.StartsWith('-'))
					{
						itemErrorText = "The tags cannot start with '-'."; cleanup = true; break;
					}
					else if (selecitemtags.Contains('+'))
					{
						itemErrorText = "The tags cannot contain any '+' symbols."; cleanup = true; break;
					}
					else itemErrorText = "";
				}
				if (cleanup)
				{
					selecitemtags = selecitemtags.Trim();
					selecitemtags = selecitemtags.Replace("+", "");
					selecitemtags = selecitemtags.Replace(", -", ", ");
					selecitemtags = selecitemtags.Replace(",-", ",");
					selecitemtags = selecitemtags.Replace(" -", "");
					if (selecitemtags.StartsWith("-"))
						selecitemtags = selecitemtags[1..];
				}
				break;
			case "notes":
				var sanitizer = new HtmlSanitizer();
				sanitizer.AllowedTags.Clear();
				string safe = sanitizer.Sanitize(selecitem.notes);
				if (safe != selecitem.notes)
				{
					itemErrorText = "Please don't add HTML elements to the notes";
					selecitem.notes = safe;
				}
				break;
		}
		UpdateModifiedDate();
	}

	async Task UpdateTags()
	{
		if (selecitem == null) return;
		await OnLoadingStart.InvokeAsync("Updating Tags...");
		string[] tags = selecitemtags.Split(',');
		for (int i = 0; i < tags.Length; i++)
			tags[i] = tags[i].Trim();
		selecitem.tags = tags;
		await OnLoaded.InvokeAsync("Tags Updated!");
	}

	// ---------- EXIT MODAL
	async Task Exit()
	{
		Dispose();
		await OnExit.InvokeAsync();
	}

	public void Dispose()
	{
		if (_selectbloburl != null)
			JSRuntime.InvokeVoidAsync("revokeBlobUrl", _selectbloburl);
	}

	// ---------- IMAGE HANDLING
	async Task<string> GetSelectImage()
	{
		if (selecitem == null) return "";

		var res = "";

		if (selecitem.img is MemoryImage mi)
			return await LoadB64Image(mi.bytes, mi.mime);
		else if (selecitem.img is LinkedImage li){
			return await LinkedImage.GetMediaUrl(li, JSRuntime);
		}
		else throw new Exception("Unknown image type for item " + selecitem.name);
	}

	async Task PickLocalImage(bool Camera)
	{
		if (mobile)
		{
			FileResult? photo = await PickLocalImageMobile(Camera);

			if (photo is null) return;

			await using Stream stream = await photo.OpenReadAsync();
			using MemoryStream ms = new();
			await stream.CopyToAsync(ms);

			byte[] imageBytes = ms.ToArray();
			var imgsource = new MemoryImage(imageBytes, photo.ContentType);
			selecitem.img = imgsource;
			selecImage = await GetSelectImage();
			await UpdateModifiedDate();
			StateHasChanged();
		}
		else
		{
			FileResult? img = await PickLocalImageDesktop();
			if (img is null) return;

			selecitem.img = new LinkedImage(img.FullPath);
			await UpdateModifiedDate();
		}
	}

	async Task<FileResult?> PickLocalImageMobile(bool Camera)
	{
		try
		{
			if (Camera)
				return await MediaPicker.Default.CapturePhotoAsync();
			else
			{
				var ptos = await MediaPicker.Default.PickPhotosAsync(new MediaPickerOptions() { SelectionLimit = 1 });
				return ptos[0];
			}
		}
		catch (Exception ex)
		{
			Logger.LogInformation($"[ItemEdit] Image picking error: {ex.Message}");
			return null;
		}
	}

	async Task<FileResult?> PickLocalImageDesktop()
	{
		try
		{
			var fileResult = await FilePicker.Default.PickAsync();

			if (fileResult == null)
				return null;

			return fileResult;
		}
		catch (Exception ex)
		{
			Logger.LogInformation($"[ItemEdit] File picking error: {ex.Message}");
			return null;
		}
	}

	async Task<string> LoadB64Image(byte[] imageBytes, string mimeType)
	{
		if (_selectbloburl != null)
			await JSRuntime.InvokeVoidAsync("revokeBlobUrl", _selectbloburl); // cleanup old one

		return await JSRuntime.InvokeAsync<string>("createBlobUrl", imageBytes, mimeType);
	}


	
}