@page "/"
@using System.Text.Json
@using Microsoft.Extensions.Logging
@using Microsoft.Maui.ApplicationModel
@using System.Diagnostics
@inject ILogger<Home> Logger
@inject IJSRuntime JS
@inject ISnackbar Snackbar
<link href="css/charactercolor.css" rel="stylesheet" />

<div class="m-md-1 p-md-1 m-lg-4 p-lg-4 overflow-hidden smoothScaling">
	<h1 class="d-flex text-light mx-auto justify-content-center" style="font-weight: 600">Local Tier List Maker</h1>
	<div class="row col-12 d-flex flex-column text-light m-2">
		<h3 style="font-weight: 500"> Tier Lists: </h3>
		@if (!mobile){
				<button class="m-2 ms-4 col-1 bg-highlight clickableOuter rounded p-1" @onclick="() => OpenDataFolder()">
				<MudIcon Icon="@Icons.Material.Filled.Folder" Title="Data Folder"/>
				</button>
		}
		@if (lists!.Count <= 0)
		{
			<div class="col-sm-12 col-lg-4 mx-2 flex-column justify-content-center d-flex flex-fill">
				<h5> There are no saved TierLists, create one with the "New TierList" button!. </h5>
			</div>
		}
		else
		{
			<div class="row mx-1 flex-row justify-content-start col-12 flex-fill flex-wrap d-flex">
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" id="showcaseform"
						   @onchange="() => Toggle(ref editTierlists)">
					<label class="form-check-label" for="showcaseform">
						Edit Tierlists
					</label>
				</div>
				@for (int local = 0; local < lists.Count; local++)
				{
					int i = local;

					<div class="row col-sm-4 col-md-3 col-lg-2 mx-0 my-1 d-flex flex-wrap">
						<div class="row p-0 col-12 d-flex flex-fill">
							<div class="d-flex col-12 p-0 flex-nowrap flex-fill flex-row">
								@if (!editTierlists)
								{
									<a class="col-12 btn text-center justify-content-center p-2 rounded clickableOuter align-content-center"
									   style="background-color: @(String.IsNullOrEmpty(lists[i].color) ? "var(--highlight-color)" : lists[i].color);
														   color: @(String.IsNullOrEmpty(lists[i].color) ? "white" : GlobalStyleFunctions.GetMostReadableTextColor(lists[i].color))"
									   @onclick="() => Select(lists[i])">
										@lists[i].name
									</a>
								}
								else
								{
									<a class="col-10 btn text-center justify-content-center p-2 rounded draggableOuter align-content-center" draggable="true"
									   style="background-color: @(String.IsNullOrEmpty(lists[i].color) ? "var(--highlight-color)" : lists[i].color);
											  outline: dashed 2px; outline-color: @(String.IsNullOrEmpty(lists[i].color) ? "var(--highlight-color)" : lists[i].color);
                                              color: @(String.IsNullOrEmpty(lists[i].color) ? "white" : GlobalStyleFunctions.GetMostReadableTextColor(lists[i].color))"
									   @ondragover="() => DragDropApi<TierList>.OverHere(lists, i)"
									   @ondragleave="() => DragDropApi<TierList>.OuttaHere()"
									   @onmousedown="(e) => TLOnPress(e, i)"
									   @ondragend="async () => { if (DragDropApi<TierList>.StopDrag()) await Save(); } ">
										@lists[i].name
									</a>
									<button class="text-light col-2 p-2 ms-1 btn bg-danger clickable rounded flex-nowrap align-content-center" @onclick="() => YouSure(lists[i])">✖</button>
								}
							</div>
						</div>
					</div>
				}
				<div class="row col-sm-4 col-md-3 col-lg-2 mx-0 my-1 d-flex flex-wrap">
					<div class="row p-0 col-12 d-flex flex-fill">
						<div class="d-flex col-12 p-0 flex-nowrap flex-fill flex-row">
							<h5 class="clickableOuter flex-fill p-0 m-0 text-center rounded btn template align-content-center text-light" style="min-height: 40px" @onclick="NewTierList"> New Tierlist </h5>
						</div>
					</div>
				</div>
			</div>
		}
		<div class="d-flex mx-2 my-2 col-12 col-md-4">
			<div class="row col-sm-6 col-md-2 col-lg-1 mx-2 my-1 d-flex flex-fill flex-wrap">
				<div class="row p-0 col-12 d-flex flex-fill">
					<div class="d-flex col-12 p-0 flex-nowrap flex-fill flex-row">
						<h5 class="clickableOuter flex-fill p-1 m-0 text-center rounded btn bg-primary align-content-center text-light" @onclick="@(() => OpenModal("Import"))"> <MudIcon Icon="@Icons.Material.Filled.Download" Title="Import" /> Import Tierlists </h5>
					</div>
				</div>
			</div>
			<div class="row col-sm-6 col-md-2 col-lg-1 mx-2 my-1 d-flex flex-fill flex-wrap">
				<div class="row p-0 col-12 d-flex flex-fill">
					<div class="d-flex col-12 p-0 flex-nowrap flex-fill flex-row">
						<h5 class="clickableOuter flex-fill p-2 m-0 text-center rounded btn bg-primary align-content-center text-light" @onclick="ExportAll"> <MudIcon Icon="@Icons.Material.Filled.Upload" Title="Export" /> Export All Tierlists </h5>
					</div>
				</div>
			</div>
			<div class="row col-sm-6 col-md-2 col-lg-1 mx-2 my-1 d-flex flex-fill flex-wrap">
				<div class="row p-0 col-12 d-flex flex-fill">
					<div class="d-flex col-12 p-0 flex-nowrap flex-fill flex-row">
						<h5 class="clickableOuter flex-fill p-2 m-0 text-center rounded btn bg-primary align-content-center text-light" @onclick="@(() => OpenModal("Merge"))"> MERGE TWO (DEBUG) </h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	@if (selected != null)
	{
		<h5 class="ms-4">Display Settings:</h5>
		<div class="d-flex flex-row gap-3 p-2 darken-25 rounded">
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="showcaseform"
					   @onchange="() => Toggle(ref showcase)">
				<label class="form-check-label" for="showcaseform">
					Showcase Mode
				</label>
			</div>

			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="minimalform"
					   @onchange="() => Toggle(ref minimal)">
				<label class="form-check-label" for="minimalform">
					Minimal Mode
				</label>
			</div>

			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="textform"
					   @onchange="() => Toggle(ref NoImg)">
				<label class="form-check-label" for="textform">
					Text Only
				</label>
			</div>
		</div>

		<TierListComp selected="selected" tl="TierService.tl" showcase="showcase" minimal="minimal" NoImg="NoImg"
		OnExport="@(() => SnackAlert("Exported Tierlist copied to clipboard"))" OnError="@(new Action<string>(e => SnackError(e)))"
		OnLoaded="@(async (e) => await UILoaded(e))" OnLoadingStart="@(async (e) => await UILoading(e))"
		OnSave="@(async () => await Save())"/>
	}

	<!-- -- -- -- -- -- -- MODALS -- -- -- -- -- -- -- -->
	@if (Loading)
	{
		<div class="LoadingDisplay d-flex darken-50 align-content-center align-items-center justify-content-center mx-auto">
			<h5 class="d-flex col-12 align-items-center align-content-center mx-auto justify-content-center">@LoadingMessage</h5>
		</div>
	}

	@if (yousure)
	{
		<div class="maiedal d-flex flex-column text-center justify-content-center">
			<div class="p-2 darken-95 d-flex rounded text-center flex-column justify-content-center mx-auto text-light col-6">
				<p> Are you sure you want to permanently remove this tierlist? All tiers and items registered within will be deleted! </p>
				<div class="d-flex flex-row flex-wrap mx-auto">
					<button class="mx-2 btn text-light" @onclick="YouSure">No</button>
					<button class="mx-2 btn text-danger" @onclick="Delete">Yes, remove it and all items within</button>
				</div>
			</div>
		</div>

	}
	@if (ImportMenu)
	{
		<div class="maiedal d-flex flex-column text-center justify-content-center">
			<div class="p-4 darken-85 d-flex text-center flex-column justify-content-center mx-auto text-light col-12 shadow col-md-6" style="border-radius: 2vw">
				<p> Paste below the JSON string of the Tierlist(s) you want to import! </p>
				<textarea class="font-monospace bg-dark text-light col-12 mb-2" style="height:200px;" @bind="importString"></textarea>
				<div>
					<p class="text-danger">@importErr</p>
				</div>
				<div class="form-check form-switch text-start mx-3 mb-3">
					<input class="form-check-input" type="checkbox" id="ireplace"
						   @onchange="() => Toggle(ref ImportReplace)">
					<label class="form-check-label" for="ireplace">
						Replace current Tierlists
					</label>
				</div>
				<div class="d-flex flex-row flex-wrap mx-auto">
					<button class="mx-2 border-1 border-white text-light rounded btn p-2" @onclick="() => ImportMenu = false">Cancel</button>
					<button class="mx-2 bg-highlight rounded btn p-2 text-light" @onclick="ImportTierLists">Import</button>
				</div>
			</div>
		</div>
	}
	@if (MergeMenu)
	{
		<div class="maiedal d-flex flex-column text-center justify-content-center">
			<div class="p-4 darken-85 d-flex text-center flex-column justify-content-center mx-auto text-light col-12 shadow col-md-6" style="border-radius: 2vw">
				<p> Paste below the JSON string of the Tierlist(s) you want to merge! </p><br />
				<p> Current: </p>
				<textarea class="font-monospace bg-dark text-light col-12 mb-2" style="height:200px;" @bind="merge1String"></textarea>
				<p> Incoming: </p>
				<textarea class="font-monospace bg-dark text-light col-12 mb-2" style="height:200px;" @bind="merge2String"></textarea>
				<div>
					<p class="text-danger">@mergeErr</p>
				</div>
				<div class="d-flex flex-row flex-wrap mx-auto">
					<button class="mx-2 border-1 border-white text-light rounded btn p-2" @onclick="() => MergeMenu = false">Cancel</button>
					<button class="mx-2 bg-highlight rounded btn p-2 text-light" @onclick="MergeTierLists">Merge</button>
				</div>
			</div>
		</div>
	}
	@if (EditSelected != null)
	{
		<div class="maiedal d-flex flex-column text-center justify-content-center">
			<div class="p-4 darken-85 d-flex text-center flex-column justify-content-center mx-auto text-light col-12 shadow col-md-6" style="border-radius: 2vw">
				<div class="d-flex p-2 text-end justify-content-end">
					<a class="clickable" @onclick="async () => { EditSelected = null; await Save(); }">✖</a>
				</div>
				<MudColorPicker Label="TierList Color" @bind-Text="EditSelected.color" Style="@($"color: {EditSelected.color};")" Placeholder="Select Color" />
			</div>
		</div>
	}
</div>


@code
{
	List<TierList>? lists;
	TierList? selected;

	TierList? selected2;

	string importString = "";
	string merge1String = "";
	string merge2String = "";
	string importErr = "";
	string mergeErr = "";

	bool mobile, showcase, minimal, NoImg, yousure, MergeMenu, editTierlists;
	bool ImportMenu, ImportReplace;

	TierList? EditSelected;

	bool Loading = false;
	string LoadingMessage = "Loading...";

	CancellationTokenSource? _saveCts;

	// -------- GENERAL FUNCTIONS
	protected override async Task OnInitializedAsync()
	{
		mobile = OperatingSystem.IsAndroid() || OperatingSystem.IsIOS();
		lists = TierService.TierLists; // yes this loads TierLister too
		if (lists == null)
			lists = new List<TierList>();

	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender) await UILoaded();
	}

	void OpenDataFolder()
	{
		Process.Start("explorer.exe", TierService.GetMainFolder());
	}

	async Task Save()
	{
		_saveCts?.Cancel();
		_saveCts = new CancellationTokenSource();
		var token = _saveCts.Token;

		try
		{
			await Task.Delay(500, token);
			await Task.Run(async () => await TierService.SaveAll(), token);
			Logger.LogInformation("Saving!");
		}
		catch (OperationCanceledException) { /* debounced away, that's fine */ }
	}

	// Mobile drag threshold
	CancellationTokenSource? dragDelayCts;
	bool dragArmed = false;
	bool dragStarted = false;
	int dragthreshold = 200; // ms
	ElementReference elementRef;

	async Task TLOnPress(MouseEventArgs e, int index)
	{
		if (mobile)
		{
			dragStarted = false;
			dragArmed = true;

			dragDelayCts?.Cancel();
			dragDelayCts = new CancellationTokenSource();

			try
			{
				// long-press threshold (tweak this)
				await Task.Delay(dragthreshold, dragDelayCts.Token);

				if (!dragArmed)
					return;

				dragStarted = true;
				DragDropApi<TierList>.StartDrag(lists, index);
			}
			catch (TaskCanceledException)
			{
				Logger.LogInformation("DRAGDELAY: Pointer released early! Editing item instead");
				EditSelected = lists[index];
			}
		}
		else if (e.Buttons == 2) // right click
			EditSelected = lists[index];
		else DragDropApi<TierList>.StartDrag(lists, index);
	}

	// -------- TIERLIST MANAGEMENT
	async Task Select(TierList l)
	{
		if (l == selected)
		{
			selected = null;
		}
		else
		{
			await UILoading("Loading Tierlist...");
			selected = l;
		}
	}

	void NewTierList()
	{
		TierService.TierLists.Add(new TierList($"Tierlist {TierService.TierLists.Count + 1}", true));
		Select(TierService.TierLists.Last());
	}

	async Task Delete()
	{
		if (selected == selected2)
		{
			selected = null;
		}
		if (selected2 == null) return;
		TierService.TierLists.Remove(selected2);
		await TierService.SaveAll();
		yousure = false;
	}

	// -------- MODAL HANDLING
	void YouSure(TierList l)
	{
		if (yousure)
		{
			yousure = false;
			selected2 = null;
		}
		else
		{
			yousure = true;
			selected2 = l;
		}
	}
	void YouSure()
	{
		if (yousure)
		{
			yousure = false;
			selected2 = null;
		}
	}
	void OpenModal(string type)
	{
		switch (type)
		{
			case "Import":
				ImportMenu = true;
				break;
			case "Merge":
				MergeMenu = true;
				break;
		}
	}
	void Toggle(ref bool t)
	{
		t = !t;
		StateHasChanged();
	}

	// -------- IMPORT, EXPORT, MERGE
	async Task ExportAll()
	{
		var json = TierService.tl?.ExportJson() ?? string.Empty;
		if (string.IsNullOrEmpty(json))
		{
			Logger.LogWarning("ExportAll: no JSON produced from TierService.tl.ExportJson()");
			SnackError("No TierLists to export.");
			return;
		}

		try
		{
#if ANDROID || WINDOWS || IOS || MACCATALYST
	// Use native MAUI clipboard when running as a MAUI app (Android, Windows, iOS, MacCatalyst).
	await Clipboard.SetTextAsync(json);
#else
			// Fallback for browser/web: use navigator.clipboard via JS interop.
			await JS.InvokeVoidAsync("navigator.clipboard.writeText", json);
#endif
			Logger.LogInformation("Exported JSON copied to clipboard.");
			SnackAlert("TierLists Data copied to clipboard.");
		}
		catch (Exception ex)
		{
			Logger.LogError(ex, "Failed to copy exported JSON to clipboard using primary method.");
			// Try the other approach as a best-effort fallback.
			try
			{
				await JS.InvokeVoidAsync("navigator.clipboard.writeText", json);
				Logger.LogInformation("Fallback: exported JSON copied to clipboard via JS.");
				SnackAlert("TierLists Data copied to clipboard.");
			}
			catch (Exception jsEx)
			{
				Logger.LogError(jsEx, "Fallback copy to clipboard via JS also failed.");
				SnackError("Failed to copy TierLists Data to clipboard.");
			}
		}
	}

	async Task ImportTierLists()
	{
		if (!String.IsNullOrEmpty(importString))
		{
			try
			{
				var imported = TierService.Import(importString);
				if (imported != null && imported.Count > 0)
				{
					if (ImportReplace)
					{
						TierService.TierLists.Clear();
					}
					foreach (var tl in imported)
					{
						TierService.TierLists.Add(tl);
					}
					await TierService.SaveAll();
					lists = TierService.TierLists;
					importErr = "";
					ImportMenu = false;
				}
				else
				{
					importErr = "Couldn't identify any elements in the json...";
				}
			}
			catch (Exception e)
			{
				importErr = e.Message;
			}
		}
	}

	async Task MergeTierLists()
	{
		if (!String.IsNullOrEmpty(merge1String) && !String.IsNullOrEmpty(merge2String))
		{
			var t1 = TierService.Import(merge1String);
			var t2 = TierService.Import(merge2String);
			var t3 = TLMerger.MergeTierLists(MergeBehaviourTable.SmartMerge, t1[0], t2[0]);
			TierService.TierLists.Add(t3);
		}
		else mergeErr = "Please fill both fields";
	}

	// -------- LOADING HANDLING
	async Task UILoaded()
	{
		await UILoaded("");
	}

	async Task UILoading()
	{
		await UILoading("Loading...");
	}

	async Task UILoaded(string? message)
	{
		//Logger.LogInformation(message);
		//Loading = false;
		//LoadingMessage = "";
		StateHasChanged();
	}

	async Task UILoading(string? message)
	{
		//Loading = true;
		//LoadingMessage = message;
		StateHasChanged();
	}

	// -------- SNACK MESSAGES
	void SnackAlert(string message)
	{
		Snackbar.Add(message, Severity.Info);
	}
	void SnackError(string message)
	{
		Snackbar.Add(message, Severity.Error);
	}

}